body {
  background-color: #d3ebdc;
}

li {
  list-style-type: none;
  font-size: clamp(1.5rem, 3.5vw, 4rem);
  text-align: center;
}

a {
  text-decoration: none;
}

img {
  border: 1px solid black;
  width: 26vw;
  height: 26vw;
  object-fit: cover;
}

.questions {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-inline-start: 0;
  align-items: center;
}

figure {
  margin-inline-start: 10px;
  margin-inline-end: 10px;
}

.App {

}
