body {
  background-color: #d3ebdc;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  border: 2px solid black;
  width: 100%;
}

.questions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-inline-start: 0;
  max-width: 300px;
  align-items: center;
}

figure {
  margin-inline-start: 10px;
  margin-inline-end: 10px;
}

.App {

}
